 *{
		 margin:0px;
		 padding:0px;
		 box-sizing:border-box;
		 
		 }
	
	body{
		
		height:100vh;
	}
	
	
	nav{
	display:flex;
	flex-direction:column;
	position:fixed;
	float:left;
	width:6em;
	height:100vh;

	background-color:black;
		align-items:center;
		box-shadow:0px 7px 7px 0px;
		color:white;
	}
	
	nav ul{
	display:flex;
	flex-direction:column;
	list-style:none;
padding-top:19em;
padding-left:1em;
	margin-bottom:11em;
	gap:2rem;
 cursor:pointer;
	
	}
	
	
	
	nav ul li:hover{
color:gainsboro;
border-radius:2px
 transition:200ms;
  cursor:pointer;
	
	}
	
		nav ul li:active{
color:red;
border-radius:2px
 transition:200ms;
 cursor:pointer;
	
	}
	
	
	nav p{
		margin-left:1.7em;
	margin-top:1.5em;
	 width:1em;
	 height:10vh;
	 border-radius:50px;

	}
	
.logo{
		position:absolute;
		top:1em;
		left:1em;
		border-radius:50px;
		width:50px;
		height:9vh;
	}
	
	
	.header{
		background-color:red;
		height:60vh;
		width:65%;
		color:black;
		font-size:40px;
		padding-top:2.3em;
	}
	
	
	
	
 .ads{

		width:65%;
		height:240vh;
 }
 
 
 
 .Trending{
	 background-color:gainsboro;
	
	 width:33%;
	 height:300vh;
	 position:absolute;
	 top:0em;
	 right:-0em;
 }
 
 
.ads1{
	
	position:absolute;
	top:3em;
	right:2em;
	width:80%
	
}
 
 .post{
	 color:black;
	 position:absolute;
	 width:60%;
	 	top:16%;
	right:30%;
	font-size:33px;
	font-family:Quicksand,sans-serif;
	 
 }



.container{
	 background-color:white;
	 box-shadow:0px 9px 9px 0px;
	 width:90%;
	 height:180vh;
	 position:absolute;
	 top:29em;
	 right:6%;
	 justify-content:center;
	 align-items:center;
	 border-radius:15px;
}



 .ads2{
	 width:45%;
	 height:60vh;
	 border-radius:5px;
 }
 
 
 .ads3{
	 width:50%;
	 height:60vh;
	 border-radius:5px;
	 position:absolute;
	 right:0em;
	 top:0em;
 }
 
 
 
 
 .text{
	 align-items:center;
	 position:absolute;
	 top:23em;
	 right:2%;
font-size:19px;	 
font-family:Quicksand,sans-serif;
width:90%;
 }
 
 
 .text:hover{
	 color:blue;
	 cursor:pointer;
 }
 
 
	.text1{
		position:absolute;
	 top:31em;
	 right:4em;
		font-size:19px;
		color:red;
	}
	
	.text1:hover{
		color:blue;
		 cursor:pointer;
	}
	
	
	
	.text2{
		position:absolute;
	 top:36em;
	 right:3em;
		font-size:19px;
		color:red;
	}
	
	.text2:hover{
		color:blue;
		 cursor:pointer;
	}
	
	
	.text3{
		position:absolute;
	 top:42em;
	 right:4em;
		font-size:19px;
		color:red;
	}
	
	.text3:hover{
		color:blue;
		 cursor:pointer;
	}
	
	
	
	
	
	.text4{
		position:absolute;
	 top:49em;
	 right:2em;
		font-size:19px;
		color:red;
	}
	
	.text4:hover{
		color:blue;
		 cursor:pointer;
	}
	
	
	
	.More{
		position:absolute;
		top:70em;
	 right:12em;
	}
	
	#fa{
		display:none;
	}
	
	.dropdown{
		display:none;
		justify-content:center;
	align-items:center;
	background-color:white;
	box-shadow:0px 8px 7px 0px;
	height:20vh;
	width:82px;
	position:absolute;
		left:6.5em;
		top:23em;
	}
	
	.dropdown ul{
		display:flex;
		flex-direction:column;
		list-style:none;
		gap:22px;
		align-items:center;
		padding-top:5px;
		
	}
	
	.dropdown ul li:hover{
		background-color:gainsboro;
			cursor:pointer;
	}
	
	.dropdown ul li:active{
		background-color:red;
		cursor:pointer;
	}
	
	
	
	.dropdown-container{
		display:none;
		justify-content:center;
	align-items:center;
	background-color:white;
	box-shadow:0px 8px 7px 0px;
	height:20vh;
	width:82px;
	position:absolute;
		left:12em;
		top:26em;
	}
	
	
	.dropdown-container ul{
		display:flex;
		flex-direction:column;
		list-style:none;
		gap:22px;
		align-items:center;
		padding-top:5px;
		cursor:pointer;
		
	}
	
	.dropdown-container ul li:hover{
color:gainsboro;
border-radius:2px
 transition:200ms;
  cursor:pointer;
	
	}
	
	.dropdown-container ul li:active{
		color:red;
	}
	
	
	






	@media screen and (max-width:650px){




.container{
	display:none;
	 background-color:white;
	 box-shadow:0px 9px 9px 0px;
	 width:50%;
	 height:200vh;
	 position:absolute;
	 top:29em;
	 right:6%;

	 border-radius:15px;
}


		#fa{
			display:block;
		}
		
		nav ul li:not(.fa){
			display:none;
		
		}
		
		.dropdown{
				top:19em;
		
			height:30vh;
		}
		
		.dropdown-container{
			
			position:absolute;
			top:27em;
		}
		
		
		

	}
		
	
	
	footer{
		background-color:green;
		height:50vh;
	width:100%;
		color:white;
		font-size:40px;
		padding-top:4em;
	}
	
	
	
	
	